<div *ngIf="loading" class="bg-white min-h-screen"></div>
<div [class.invisible]="loading" class="relative">
  <div class="z-10 fixed left-0 top-0 right-0 bg-white bg-opacity-95 shadow md:shadow-none">
    <div class="max-w-7xl mx-auto px-4 sm:px-6">
      <div class="transition-all duration-200 h-16 md:h-20 flex justify-between items-center py-6 md:justify-start md:space-x-10">
        <div class="flex justify-start lg:w-0 lg:flex-1">
          <a href="#">
            <span class="text-brand-blue-500 font-bold text-2xl">Outspoken</span>
            <img class="w-52 hidden" src="https://www.outspokenvoices.com/assets/img/logo.png" alt="" />
          </a>
        </div>
        <div class="-mr-2 -my-2 md:hidden">
          <button (click)="menuHidden = false" type="button" class="bg-transparent rounded-full p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-brand-blue">
            <span class="sr-only">Open menu</span>
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
          </button>
        </div>
        <nav class="hidden md:flex space-x-10">
          <div class="relative">
            <button type="button" class="group bg-transparent rounded-full text-gray-500 inline-flex items-center text-base font-medium hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brand-blue">
              <span>Voices</span>
            </button>
          </div>
          <a href="#" class="text-base font-medium text-gray-500 hover:text-gray-900"> Blog </a>
          <a href="#" class="text-base font-medium text-gray-500 hover:text-gray-900"> FAQ </a>
          <div class="relative">
            <button type="button" class="group bg-transparent rounded-full text-gray-500 inline-flex items-center text-base font-medium hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brand-blue">
              <span>Contact</span>
            </button>
          </div>
        </nav>
        <div class="hidden md:flex items-center justify-end md:flex-1 lg:w-0">
          <a href="#" class="whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900"> Sign in </a>
          <a href="#" class="ml-8 whitespace-nowrap inline-flex items-center justify-center px-5 py-2 border border-transparent rounded-full shadow-sm text-base font-medium text-white transition-colors bg-brand-blue-500 hover:bg-brand-blue-400"> Sign up </a>
        </div>
      </div>
    </div>
    <div [ngClass]="menuHidden ? 'opacity-0 scale-95 pointer-events-none' : 'opacity-100 scale-100'" class="absolute top-0 inset-x-0 z-10 p-2 transition transform origin-top-right">
      <div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 bg-white divide-y-2 divide-gray-50">
        <div class="pt-5 pb-6 px-5">
          <div class="flex items-center justify-between">
            <div class="ml-3 text-brand-blue-500 font-bold text-2xl">Outspoken</div>
            <div class="-mr-2">
              <button (click)="menuHidden = true" type="button" class="bg-transparent rounded-full p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-brand-blue">
                <span class="sr-only">Close menu</span>
                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
          </div>
          <div class="mt-6">
            <nav class="grid gap-y-8">
              <a href="#" class="-m-3 p-3 flex items-center rounded-full hover:bg-gray-50">
                <span class="ml-3 text-base font-medium text-gray-900"> Voices </span>
              </a>
              <a href="#" class="-m-3 p-3 flex items-center rounded-full hover:bg-gray-50">
                <span class="ml-3 text-base font-medium text-gray-900"> Blog </span>
              </a>
              <a href="#" class="-m-3 p-3 flex items-center rounded-full hover:bg-gray-50">
                <span class="ml-3 text-base font-medium text-gray-900"> FAQ </span>
              </a>
              <a href="#" class="-m-3 p-3 flex items-center rounded-full hover:bg-gray-50">
                <span class="ml-3 text-base font-medium text-gray-900"> Contact </span>
              </a>
            </nav>
          </div>
        </div>
        <div class="py-6 px-5 space-y-6">
          <div>
            <a href="#" class="w-full flex items-center justify-center px-4 py-2 border border-transparent rounded-full shadow-sm text-base font-medium text-white bg-brand-blue-500 hover:bg-brand-blue-400"> Sign up </a>
            <p class="mt-6 text-center text-base font-medium text-gray-500">
              Existing customer?
              <a href="#" class="text-brand-blue-500 hover:text-brand-blue"> Sign in </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <main class="bg-gray-50">
    <section class="md:mb-20 relative">
      <div class="mt-16 md:mt-20 relative bg-white">
        <svg class="pointer-events-none absolute left-0 right-0 -bottom-14 fill-current text-gray-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 288">
          <defs></defs>
          <path fill-rule="evenodd" d="M0,1091 C92.6666667,1149.66667 202,1179 328,1179 C517,1179 563,1146 720,1091 C877,1036 959,987 1106,987 C1204,987 1315.33333,1021.66667 1440,1091 L1440,1275 L0,1275 L0,1091 Z" transform="translate(0 -987)"></path>
        </svg>
        <div class="mx-auto max-w-7xl w-full pt-16 pb-20 text-center lg:py-48 lg:text-left">
          <div class="px-4 lg:w-1/2 sm:px-8 xl:pr-8">
            <h1 class="text-4xl tracking-tight font-bold text-gray-900 sm:text-5xl">The perfect voice over.</h1>
            <p class="font-light mt-3 max-w-md mx-auto text-lg text-gray-600 sm:text-xl md:mt-7 md:max-w-3xl">Book a professional voice over artist or post a project and receive high quality demos, fast.</p>
            <div class="mt-10 sm:flex sm:justify-center lg:justify-start">
              <div class="rounded-full shadow">
                <a href="#" class="w-full flex items-center justify-center px-6 py-2 border border-transparent text-base font-medium rounded-full text-white transition-colors bg-brand-blue-500 hover:bg-brand-blue-400 md:py-3 md:text-base md:px-8"> Find a Voice </a>
              </div>
              <div class="mt-3 rounded-full shadow sm:mt-0 sm:ml-5">
                <a href="#" class="w-full flex items-center justify-center px-6 py-2 border border-transparent text-base font-medium rounded-full text-brand-blue-500 transition-colors bg-white hover:bg-gray-50 md:py-3 md:text-base md:px-8"> Post a Project </a>
              </div>
            </div>
          </div>
        </div>
        <div class="relative lg:absolute lg:inset-y-0 lg:left-1/2 lg:-ml-6 lg:right-0 lg:max-w-2xl lg:h-full lg:px-0 lg:pl-6 lg:pr-7">
          <div class="relative flex flex-col justify-center h-full w-full px-4 sm:px-20 lg:px-0">
            <div class="cursor-pointer transform transform-gpu duration-300 transition-transform hover:scale-105">
              <img class="select-none block rounded-md shadow-lg border border-gray-100 border-b-0" src="https://assets.codepen.io/12596/how-it-works-no-shadow-1.png" alt="Hero image" />
            </div>
          </div>
        </div>
      </div>
      <div class="relative mb-4">
        <div class="mx-auto max-w-7xl w-full px-4 py-10 sm:px-10">
          <div class="flex justify-between -mr-1">
            <h2 class="text-gray-400 text-sm font-semibold uppercase tracking-wide">Our Customers</h2>
            <h2 class="hidden sm:flex text-gray-400 text-sm font-semibold uppercase tracking-wide items-center">
              <span class="flex-shrink-0 whitespace-pre">Reviews on </span>
              <a href="#" class="flex-shrink-0 text-green-600">TrustPilot</a>
              <svg class="h-5 w-5 text-green-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
              </svg>
            </h2>
          </div>
          <div class="mt-8 gap-x-8 grid grid-cols-3 md:grid-cols-4 lg:grid-cols-5">
            <div class="col-span-1 flex lg:col-span-1">
              <img class="h-12" src="https://tailwindui.com/img/logos/tuple-logo-gray-400.svg" alt="Tuple" />
            </div>
            <div class="col-span-1 sm:justify-center lg:justify-start flex lg:col-span-1">
              <img class="h-12" src="https://tailwindui.com/img/logos/mirage-logo-gray-400.svg" alt="Mirage" />
            </div>
            <div class="col-span-1 flex sm:justify-end md:justify-center lg:justify-start lg:pl-7 lg:col-span-1">
              <img class="h-12" src="https://tailwindui.com/img/logos/statickit-logo-gray-400.svg" alt="StaticKit" />
            </div>
            <div class="hidden md:flex col-span-1 md:pl-8 lg:col-span-1">
              <img class="h-12" src="https://tailwindui.com/img/logos/transistor-logo-gray-400.svg" alt="Transistor" />
            </div>
            <div class="hidden lg:flex col-span-2 justify-end lg:col-span-1">
              <img class="h-12" src="https://tailwindui.com/img/logos/workcation-logo-gray-400.svg" alt="Workcation" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="mb-6 sm:mb-8 lg:mb-20">
      <div class="relative max-w-7xl mx-auto px-4 sm:px-6">
        <div data-scroll class="relative p-9 md:p-14 shadow-md rounded-md bg-brand-blue-500 overflow-hidden">
          <div class="lg:w-3/5 space-y-6 md:space-y-9">
            <div>
              <div class="text-4xl tracking-tight font-bold sm:text-5xl mb-1 md:mb-3 text-white">Incredible Voices.</div>
              <div class="text-4xl tracking-tight font-bold sm:text-5xl text-brand-blue-300">Simple Process.</div>
            </div>
            <div class="text-base md:text-lg font-light text-white">
              Outspoken is an online voiceover casting platform with an extensive database of professional voices is the shortcut to finding the perfect voice, from audiobooks to adverts and beyond. We connect professional voice artists with creatives from film and audio production, digital marketing and the corporate training sector. Our experienced and versatile artists cover a vast array of languages, styles and specialities.
            </div>
            <div>
              <a href="#" class="inline-flex items-center justify-center px-6 py-2 border border-transparent text-base font-medium rounded-full text-brand-blue-500 transition-colors bg-white hover:bg-brand-blue-100 md:py-3 md:text-base md:px-8 whitespace-nowrap">
                <svg class="h-6 w-6 -ml-1 md:-ml-2 mr-3 md:mr-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                </svg>
                <span>Find a Voice</span>
              </a>
            </div>
          </div>
          <div class="flex -m-14 -mr-20 mt-4 lg:-mt-40">
            <img class="block ml-auto -mb-10 md:-mb-14 max-w-sm sm:max-w-lg md:max-w-none" src="https://assets.codepen.io/12596/sign2.png" alt="logo"/>
          </div>
        </div>
      </div>
    </section>
    <section class="mb-6 sm:mb-8 lg:mb-20">
      <div class="relative max-w-7xl mx-auto px-4 sm:px-6">
        <div data-scroll class="relative p-9 md:px-14 md:py-52 shadow-md rounded-md bg-brand-green-500 overflow-hidden flex flex-col">
          <div class="ml-auto w-full sm:w-4/5 space-y-6 md:space-y-9 text-right">
            <div>
              <div class="text-4xl tracking-tight font-bold sm:text-5xl mb-1 md:mb-3 text-white">Add your voice to Outspoken.</div>
            </div>
            <div class="text-base md:text-lg font-light text-white">
              Sign up for a free account today for access to casting listings.<br>
              Who knows where it may take you?
            </div>
            <div>
              <a href="#" class="inline-flex items-center justify-center px-6 py-2 border border-transparent text-base font-medium rounded-full text-brand-green-500 transition-colors bg-white hover:bg-brand-green-100 md:py-3 md:text-base md:px-8 whitespace-nowrap">
                <span>Browse Jobs</span>
                <svg class="h-6 w-6 ml-3 -mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
              </a>
            </div>
          </div>
          <img class="block -m-9 md:m-0 md:absolute left-0 bottom-0 w-4/5 md:w-1/2" src="https://assets.codepen.io/12596/crowd+copy.png"/>
        </div>
      </div>
    </section>
    <section class="mb-6 sm:mb-8 lg:mb-20">
      <div class="relative max-w-7xl mx-auto px-4 sm:px-6">
        <div data-scroll class="relative p-9 md:p-14 shadow-md rounded-md bg-brand-orange-500 overflow-hidden flex flex-col">
          <div class="text-4xl tracking-tight font-bold sm:text-5xl mb-14 text-white">How it works.</div>
          <div class="text-base md:text-lg font-light text-white mb-14">
            <div class="text-2xl tracking-tight font-bold sm:text-3xl mb-4">1. Looking for the right voice?</div>
            <div>Whether you know exactly what type of voice you are looking for or still open-minded, OutSpoken
can help. You can browse our extensive voice database; just click to hear their audio sample.
Alternatively, post your FREE casting. Let our voice over actors know what your project involves and
any requirements you have. Those that fit your brief will send you a free casting voice over sample.</div>
          </div>
          <div class="text-base md:text-lg font-light text-white mb-14">
            <div class="text-2xl tracking-tight font-bold sm:text-3xl mb-4">2. You've Found The Voice!</div>
            <div>After browsing or utilising a free open casting, you’ve found the perfect voice for your next project.
              Congratulations! Now all you need to do is confirm the details (the script, timings, style) and click
              ‘Hire’.</div>
          </div>
          <div class="text-base md:text-lg font-light text-white mb-14">
            <div class="text-2xl tracking-tight font-bold sm:text-3xl mb-4">3. Receive Your High-Quality Audio</div>
            <div>After clicking hire and inputting your payment details, your artist will then get to work creating your
              masterpiece. You will be put in direct contact with the selected talent, so you can discuss the fine
              details or arrange a dial in to the artist’s studio to direct the session. OutSpoken will notify you,
              when your recording is ready to be downloaded.</div>
          </div>
          <div>
            <button type="submit" class="flex items-center justify-center px-6 py-2 border border-transparent text-base font-medium rounded-full text-brand-orange-500 transition-colors bg-white hover:bg-brand-orange-100 md:py-3 md:text-base md:px-8"> How it works video </button>
          </div>
        </div>
      </div>
    </section>
    <section class="mb-6 sm:mb-8 lg:mb-20">
      <div class="relative max-w-7xl mx-auto px-4 sm:px-6">
        <div data-scroll class="relative p-9 md:p-14 shadow-md rounded-md bg-white overflow-hidden flex flex-col">
          <div class="text-3xl tracking-tight font-bold sm:text-4xl mb-2">
            Want product news and updates?
          </div>
          <div class="text-3xl tracking-tight font-bold sm:text-4xl mb-4 text-brand-blue-500">
            Sign up for our newsletter.
          </div>
          <form class="mt-8 sm:flex relative">
            <svg class="h-6 w-6 absolute top-3 left-5 mt-px text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
            </svg>
            <label for="emailAddress" class="sr-only">Email address</label>
            <input id="emailAddress" name="email" type="email" autocomplete="email" required class="w-full px-5 pl-14 py-3 bg-gray-100 placeholder-gray-500 sm:max-w-xs rounded-full focus:outline-none" placeholder="Enter your email">
            <div class="mt-3 rounded-full shadow sm:mt-0 sm:ml-4 sm:flex-shrink-0">
              <button type="submit" class="w-full flex items-center justify-center px-6 py-2 border border-transparent text-base font-medium rounded-full text-white transition-colors bg-brand-blue-500 hover:bg-brand-blue-400 md:py-3 md:text-base md:px-8"> Notify me </button>
            </div>
          </form>
        </div>
      </div>
    </section>
    <footer>
      <h2 id="footerHeading" class="sr-only">Footer</h2>
      <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
        <div class="xl:grid xl:grid-cols-3 xl:gap-8">
          <div class="space-y-8 xl:col-span-1">
            <div class="text-brand-blue-500 font-bold text-2xl">Outspoken</div>
            <p class="text-gray-500 text-base">
              Bring your project to life with<br> the perfect voice over.
            </p>
          </div>
          <div class="mt-12 grid grid-cols-2 gap-8 xl:mt-0 xl:col-span-2">
            <div class="md:grid md:grid-cols-2 md:gap-8">
              <div>
                <h3 class="text-sm font-semibold text-gray-400 tracking-wider uppercase">
                  Social
                </h3>
                <ul class="mt-4 space-y-4">
                  <li>
                    <a href="#" class="text-base text-gray-500 hover:text-gray-900">
                      Facebook
                    </a>
                  </li>

                  <li>
                    <a href="#" class="text-base text-gray-500 hover:text-gray-900">
                      Twitter
                    </a>
                  </li>

                  <li>
                    <a href="#" class="text-base text-gray-500 hover:text-gray-900">
                      LinkedIn
                    </a>
                  </li>
                </ul>
              </div>
              <div class="mt-12 md:mt-0">
                <h3 class="text-sm font-semibold text-gray-400 tracking-wider uppercase">
                  Links
                </h3>
                <ul class="mt-4 space-y-4">
                  <li>
                    <a href="#" class="text-base text-gray-500 hover:text-gray-900">
                      About Us
                    </a>
                  </li>

                  <li>
                    <a href="#" class="text-base text-gray-500 hover:text-gray-900">
                      T&C
                    </a>
                  </li>

                  <li>
                    <a href="#" class="text-base text-gray-500 hover:text-gray-900">
                      Privacy
                    </a>
                  </li>

                  <li>
                    <a href="#" class="text-base text-gray-500 hover:text-gray-900">
                      FAQ
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div>
              <div>
                <h3 class="text-sm font-semibold text-gray-400 tracking-wider uppercase">
                  Contact Us
                </h3>
                <ul class="mt-4 space-y-4">
                  <li>
                    <div class="text-base text-gray-500">
                      If you have any questions or need any help, feel free to contact us:
                    </div>
                  </li>

                  <li>
                    <a href="#" class="text-base text-gray-500 hover:text-gray-900 flex items-center">
                      <svg class="w-5 h-5 mr-3 text-brand-blue-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
                        <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
                      </svg>
                      <span>info@outspokenvoices.com</span>
                    </a>
                  </li>

                  <li>
                    <a href="#" class="text-base text-gray-500 hover:text-gray-900 flex items-center">
                      <svg class="w-5 h-5 mr-3 text-brand-blue-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z" />
                      </svg>
                      <span>+44 (0) 208 6387 409</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-12 border-t border-gray-200 pt-8">
          <p class="text-base text-gray-400 xl:text-center">
            &copy; 2021 Outspoken, Inc. All rights reserved.
          </p>
        </div>
      </div>
    </footer>
  </main>
</div>
