<div class="relative">
  <div class="z-10 fixed left-0 top-0 right-0 bg-white bg-opacity-90 shadow md:shadow-none" style="backdrop-filter: blur(4px);">
    <div class="max-w-7xl mx-auto px-4 sm:px-6">
      <div class="h-16 md:h-20 flex justify-between items-center py-6 md:justify-start md:space-x-10">
        <div class="flex justify-start lg:w-0 lg:flex-1">
          <a href="#">
            <span class="text-brand-blue font-bold text-2xl">OutSpoken</span>
            <img class="w-52 hidden" src="https://www.outspokenvoices.com/assets/img/logo.png" alt="" />
          </a>
        </div>
        <div class="-mr-2 -my-2 md:hidden">
          <button type="button" class="bg-white rounded-full p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-brand-blue">
            <span class="sr-only">Open menu</span>
            <!-- Heroicon name: outline/menu -->
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
          </button>
        </div>
        <nav class="hidden md:flex space-x-10">
          <div class="relative">
            <!-- Item active: "text-gray-900", Item inactive: "text-gray-500" -->
            <button type="button" class="group bg-transparent rounded-full text-gray-500 inline-flex items-center text-base font-medium hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brand-blue">
              <span>Voices</span>
            </button>
          </div>

          <a href="#" class="text-base font-medium text-gray-500 hover:text-gray-900"> Blog </a>
          <a href="#" class="text-base font-medium text-gray-500 hover:text-gray-900"> FAQ </a>

          <div class="relative">
            <!-- Item active: "text-gray-900", Item inactive: "text-gray-500" -->
            <button type="button" class="group bg-transparent rounded-full text-gray-500 inline-flex items-center text-base font-medium hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brand-blue">
              <span>Contact</span>
            </button>
          </div>
        </nav>
        <div class="hidden md:flex items-center justify-end md:flex-1 lg:w-0">
          <a href="#" class="whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900"> Sign in </a>
          <a href="#" class="ml-8 whitespace-nowrap inline-flex items-center justify-center px-5 py-2 border border-transparent rounded-full shadow-sm text-base font-medium text-white transition-colors bg-brand-blue hover:bg-brand-blue-light"> Sign up </a>
        </div>
      </div>
    </div>

    <!--
      Mobile menu, show/hide based on mobile menu state.

      Entering: "duration-200 ease-out"
        From: "opacity-0 scale-95"
        To: "opacity-100 scale-100"
      Leaving: "duration-100 ease-in"
        From: "opacity-100 scale-100"
        To: "opacity-0 scale-95"
    -->
    <div class="absolute top-0 inset-x-0 z-10 p-2 transition transform origin-top-right hidden">
      <div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 bg-white divide-y-2 divide-gray-50">
        <div class="pt-5 pb-6 px-5">
          <div class="flex items-center justify-between">
            <div>
              <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-brand-blue.svg" alt="Workflow" />
            </div>
            <div class="-mr-2">
              <button type="button" class="bg-white rounded-full p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-brand-blue">
                <span class="sr-only">Close menu</span>
                <!-- Heroicon name: outline/x -->
                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
          </div>
          <div class="mt-6">
            <nav class="grid gap-y-8">
              <a href="#" class="-m-3 p-3 flex items-center rounded-full hover:bg-gray-50">
                <span class="ml-3 text-base font-medium text-gray-900"> Voices </span>
              </a>

              <a href="#" class="-m-3 p-3 flex items-center rounded-full hover:bg-gray-50">
                <span class="ml-3 text-base font-medium text-gray-900"> Blog </span>
              </a>

              <a href="#" class="-m-3 p-3 flex items-center rounded-full hover:bg-gray-50">
                <span class="ml-3 text-base font-medium text-gray-900"> FAQ </span>
              </a>

              <a href="#" class="-m-3 p-3 flex items-center rounded-full hover:bg-gray-50">
                <span class="ml-3 text-base font-medium text-gray-900"> Contact </span>
              </a>
            </nav>
          </div>
        </div>
        <div class="py-6 px-5 space-y-6">
          <div>
            <a href="#" class="w-full flex items-center justify-center px-4 py-2 border border-transparent rounded-full shadow-sm text-base font-medium text-white bg-brand-blue hover:bg-brand-blue-700"> Sign up </a>
            <p class="mt-6 text-center text-base font-medium text-gray-500">
              Existing customer?
              <a href="#" class="text-brand-blue hover:text-brand-blue"> Sign in </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <main>
    <section class="relative min-h-screen pt-16 md:pt-20 bg-gray-50">
      <div class="pt-6 relative bg-white">
        <svg class="pointer-events-none absolute left-0 right-0 -bottom-14 fill-current text-gray-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 288">
          <defs></defs>
          <path fill-rule="evenodd" d="M0,1091 C92.6666667,1149.66667 202,1179 328,1179 C517,1179 563,1146 720,1091 C877,1036 959,987 1106,987 C1204,987 1315.33333,1021.66667 1440,1091 L1440,1275 L0,1275 L0,1091 Z" transform="translate(0 -987)"></path>
        </svg>
        <div class="mx-auto max-w-7xl w-full pt-16 pb-20 text-center lg:py-48 lg:text-left">
          <div class="px-4 lg:w-1/2 sm:px-8 xl:pr-8">
            <h1 class="text-4xl tracking-tight font-bold text-gray-900 sm:text-5xl">The perfect voice over.</h1>
            <p class="font-light mt-3 max-w-md mx-auto text-lg text-gray-600 sm:text-xl md:mt-7 md:max-w-3xl">Book a professional voice over artist or post a project and receive high quality demos, fast.</p>
            <div class="mt-10 sm:flex sm:justify-center lg:justify-start">
              <div class="rounded-full shadow">
                <a href="#" class="w-full flex items-center justify-center px-6 py-2 border border-transparent text-base font-medium rounded-full text-white transition-colors bg-brand-blue hover:bg-brand-blue-light md:py-3 md:text-base md:px-8"> Find a Voice </a>
              </div>
              <div class="mt-3 rounded-full shadow sm:mt-0 sm:ml-5">
                <a href="#" class="w-full flex items-center justify-center px-6 py-2 border border-transparent text-base font-medium rounded-full text-brand-blue transition-colors bg-white hover:bg-gray-50 md:py-3 md:text-base md:px-8"> Post a Project </a>
              </div>
            </div>
          </div>
        </div>
        <div class="relative lg:absolute lg:inset-y-0 lg:left-1/2 lg:-ml-6 lg:right-0 lg:max-w-2xl lg:h-full lg:px-0 lg:pl-6 lg:pr-7">
          <div class="relative flex flex-col justify-center h-full w-full px-4 sm:px-20 lg:px-0">
            <div class="cursor-pointer transform transform-gpu duration-300 transition-transform hover:scale-105">
              <img class="select-none block rounded-md shadow-lg border border-gray-100" src="https://assets.codepen.io/12596/how-it-works-no-shadow.png" alt="Hero image" />
            </div>
          </div>
      </div>
      </div>
      <div class="mt-12 lg:mt-0 relative">
        <div class="mx-auto max-w-7xl w-full p-8 pt-10">
          <div class="flex justify-between -mr-1">
            <h2 class="text-gray-400 text-sm font-semibold uppercase tracking-wide">Our Customers</h2>
            <h2 class="text-gray-400 text-sm font-semibold uppercase tracking-wide flex items-center">
              <span class="flex-shrink-0 whitespace-pre">Reviews on </span>
              <a href="#" class="flex-shrink-0 text-green-600">TrustPilot</a>
              <svg class="h-5 w-5 text-green-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
              </svg>
            </h2>
          </div>
          <div class="mt-8 gap-x-8 grid grid-cols-3 md:grid-cols-4 lg:grid-cols-5">
            <div class="col-span-1 flex lg:col-span-1">
              <img class="h-12" src="https://tailwindui.com/img/logos/tuple-logo-gray-400.svg" alt="Tuple" />
            </div>
            <div class="col-span-1 sm:justify-center lg:justify-start flex lg:col-span-1">
              <img class="h-12" src="https://tailwindui.com/img/logos/mirage-logo-gray-400.svg" alt="Mirage" />
            </div>
            <div class="col-span-1 flex sm:justify-end md:justify-center lg:justify-start lg:pl-7 lg:col-span-1">
              <img class="h-12" src="https://tailwindui.com/img/logos/statickit-logo-gray-400.svg" alt="StaticKit" />
            </div>
            <div class="hidden md:flex col-span-1 md:pl-8 lg:col-span-1">
              <img class="h-12" src="https://tailwindui.com/img/logos/transistor-logo-gray-400.svg" alt="Transistor" />
            </div>
            <div class="hidden lg:flex col-span-2 justify-end lg:col-span-1">
              <img class="h-12" src="https://tailwindui.com/img/logos/workcation-logo-gray-400.svg" alt="Workcation" />
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
