/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: "Circular";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/59912/lineto-circular-mediumItalic.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/59912/lineto-circular-mediumItalic.eot?#iefix")
  format("embedded-opentype"),
  url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/59912/lineto-circular-mediumItalic.woff")
  format("woff");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/59912/lineto-circular-bold.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/59912/lineto-circular-bold.eot?#iefix")
  format("embedded-opentype"),
  url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/59912/lineto-circular-bold.woff")
  format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/59912/lineto-circular-black.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/59912/lineto-circular-black.eot?#iefix")
  format("embedded-opentype"),
  url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/59912/lineto-circular-black.woff")
  format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/59912/lineto-circular-boldItalic.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/59912/lineto-circular-boldItalic.eot?#iefix")
  format("embedded-opentype"),
  url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/59912/lineto-circular-boldItalic.woff")
  format("woff");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/59912/lineto-circular-book.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/59912/lineto-circular-book.eot?#iefix")
  format("embedded-opentype"),
  url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/59912/lineto-circular-book.woff")
  format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/59912/lineto-circular-medium.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/59912/lineto-circular-medium.eot?#iefix")
  format("embedded-opentype"),
  url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/59912/lineto-circular-medium.woff")
  format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/59912/lineto-circular-blackItalic.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/59912/lineto-circular-blackItalic.eot?#iefix")
  format("embedded-opentype"),
  url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/59912/lineto-circular-blackItalic.woff")
  format("woff");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/59912/lineto-circular-bookItalic.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/59912/lineto-circular-bookItalic.eot?#iefix")
  format("embedded-opentype"),
  url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/59912/lineto-circular-bookItalic.woff")
  format("woff");
  font-weight: 300;
  font-style: italic;
}
